html {
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--bg-color);
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--title-color);
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 7vw;
  width: 100%;
  padding-top: 20vh;
  text-align: center;
  z-index: 13;
  position: relative;
  margin: 0;
}

h2 {
  color: var(--text-color);
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5vw;
  letter-spacing: 0.3vw;
  padding-top: 2vw;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 0;
  margin: 0;
  text-align: center;
}

h3 {
  color: var(--text-color);
  font-family: "Bebas Neue", sans-serif;
  font-size: 2vw;
  letter-spacing: 0.2vw;
  padding-top: 1.5vw;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 1vw;
  margin: 0;
  text-align: center;
}

p {
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  font-size: 1.5vw;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 0vw;
  padding-bottom: 1vw;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

ul {
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 0;
  margin-bottom: 2vw;
}

li {
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  font-size: 1.5vw;
}

hr {
  width: 100%;
  height: 1.5px;
  background: var(--margin-color);
  background-color: var(--margin-color);
  border: none;
}

form {
  width: 100%;
  height: 100%;
  align-items: left;
  padding: 0;
  margin: 0;
}

input {
  display: flex;
  position: relative;
  height: 20%vw;
  padding: 1vw;
  font-size: 1.5vw;
  border: 1.5px solid var(--margin-color);
  background-color: var(--widget-bg-color);
  color: var(--text-color);
  width: calc(100% - 2vw);
  box-sizing: border-box;
  max-width: 100%;
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2vw;
  margin: 0.7vw;
}

textarea {
  display: flex;
  position: relative;
  height: 60%vw;
  padding: 1vw;
  font-size: 1.5vw;
  border: 1.5px solid var(--margin-color);
  background-color: var(--widget-bg-color);
  color: var(--text-color);
  width: calc(100% - 2vw);
  box-sizing: border-box;
  max-width: 100%;
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1vw;
  margin: 0.7vw;
}

form button {
  display: flex;
  position: relative;
  height: 20%vw;
  padding: 1vw;
  font-size: 1.5vw;
  border: 1.5px solid var(--margin-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  width: calc(100% - 2vw);
  box-sizing: border-box;
  max-width: 100%;
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2vw;
  margin: 0.7vw;
  margin-bottom: 1vw;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

form button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.subtitle {
  color: var(--title-color);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  letter-spacing: 1vw;
  width: 100%;
  padding-top: 0.5vw;
  text-align: center;
  z-index: 13;
  position: relative;
  margin: 0;
}

.list {
  padding-left: 40vw;
  padding-right: 40vw;
}

.wall {
  height: 100vh;
  width: 100vw;
  background-color: var(--wall-bg-color);
  padding: 0;
  margin: 0;
  border-bottom: 1.5px solid var(--margin-color);
  position: relative;
  overflow: hidden;
}

.image {
  height: 110%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.image1 {
  z-index: 11;
  filter: blur(3px);
}

.image2 {
  z-index: 12;
  filter: blur(1.5px);
}

.image3 {
  z-index: 13;
  filter: blur(0.5px);
}

.image4 {
  z-index: 14;
}

.image5 {
  z-index: 15;
}

.image6 {
  z-index: 16;
}

.image7 {
  z-index: 17;
}

.image8 {
  z-index: 18;
}

.lang-icon-container {
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 2vw;
  padding-top: 0;
  padding-bottom: 1vw;
  background-color: var(--widget-bg-color);
  border-radius: 1vw;
  border: 1.5px solid var(--margin-color);
}

.lang-icon {
  width: 6vw;
  /* Set to max size for hover */
  height: 6vw;
  margin: 0vw;
  vertical-align: middle;
  color: var(--icon-color);
  font-size: 4vw;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    font-size 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  /* Center icon inside fixed-size box */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.lang-icon:hover {
  color: var(--icon-hover-color);
  font-size: 5vw;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  margin: 1vw 20vw;
  padding: 0;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0vw;
  margin: 0;
  border-radius: 1vw;
  border: 1.5px solid var(--margin-color);
  background-color: var(--widget-bg-color);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.project-container:nth-child(odd):last-child {
  grid-column: span 2;
  max-width: 50%;
  justify-self: center;
}

.project-container:hover {
  transform: scale(0.95);
  transition: transform 0.3s ease-out;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
  margin: 0;
  image-resolution: from-image;
  image-rendering: crisp-edges;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  margin: 0;
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  bottom: 0;
  width: 100%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin: 0;
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  background-color: var(--widget-bg-color);
  border-top: 1.5px solid var(--margin-color);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

.footer h2 {
  text-align: left;
  padding-left: 5vw;
  padding-top: 0;
}
.footer p {
  text-align: justify;
  font-size: 1.3vw;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 0;
}

.footer-icon-container {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  height: max-content;
  padding: 0;
  padding-left: 4.7vw;
  padding-right: 5vw;
  margin: 0;
}

.footer-icon {
  color: var(--icon-color);
  font-size: 2vw;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 5px;
}
.footer-icon:hover {
  color: var(--icon-hover-color);
}

.footer-form-container {
  display: flex;
  height: 100%;
}

::placeholder {
  color: var(--margin-color);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--margin-color);
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--bg-color);
  background: var(--text-color);
}

::selection {
  color: var(--bg-color);
  background: var(--text-color);
}

:root {
  --bg-color: hsl(168, 100%, 5%);
  --widget-bg-color: hsl(168, 100%, 10%);
  --wall-bg-color: hsl(168, 100%, 97%);

  --title-color: hsl(168, 100%, 10%);
  --text-color: hsl(168, 100%, 97%);
  --lighter-text-color: hsl(168, 100%, 10%);

  --margin-color: hsl(167, 14%, 54%);
  --icon-color: hsla(168, 100%, 97%, 0.5);
  --icon-hover-color: hsl(168, 100%, 97%);
}
